{% extends 'base/base.html' %}
{% load static %}
{% load blog_extras %}

{% block title %} Blog {% endblock %}

{% block specific_css %}
	<!-- SPECIFIC CSS -->
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
	<main class="bg_gray">
		<div class="container margin_30">
			<div class="page_header">

                {% if post %}

                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{% url 'blog:all' %}">Home</a></li>
                            <li><a href="{% url 'blog:category' slug=post.category.slug %}">{{ post.category }}</a></li>
                            <li>{{ post.title }}</li>
                        </ul>
				</div>

                {% endif %}

				<h1>{{ title|safe }}</h1>
			</div>
			<!-- /page_header -->
			<div class="row">
                {% block container %}

                {% endblock %}
				<!-- /col -->

				<aside class="col-lg-3">
					<div class="widget search_blog d-none d-sm-none d-md-none d-lg-block">
						<div class="form-group">
							<input type="text" name="search" id="search_blog" class="form-control" placeholder="Search..">
							<button type="submit"><i class="ti-search"></i><span class="sr-only">Search</span></button>
						</div>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Selected Post</h4>
						</div>
						<ul class="comments-list">

                            {% for post in selected_posts %}

                                <li>
                                    <div class="alignleft">
                                        <a href="{% url 'blog:blog' pk=post.pk %}"><img src="{{ post.main_image.url }}" alt=""></a>
                                    </div>
                                    <small>{{ post.category }} - {{ post.created_at }}</small>
                                    <h3><a href="{% url 'blog:blog' pk=post.pk %}" title="">{{ post.title|short_title }}</a></h3>
                                </li>

                            {% endfor %}

						</ul>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Categories</h4>
						</div>
						<ul class="cats">

                            {% for category in categories %}

							    <li><a href="{% url 'blog:category' slug=category.slug %}">{{ category.name }} <span>({{ category|posts_count }})</span></a></li>

                            {% endfor %}

						</ul>
					</div>
					<!-- /widget -->
					<div class="widget">
						<div class="widget-title">
							<h4>Popular Tags</h4>
						</div>
						<div class="tags">

                            {% for tag in tags %}

                                <a href="#">{{ tag.name }}</a>

                            {% endfor %}

						</div>
					</div>
					<!-- /widget -->
				</aside>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
{% endblock %}
