{% extends 'blog/base.html' %}
{% load static %}
{% load blog_extras %}

{% block title %} {{ title }} {% endblock %}

{% block container %}
    <div class="col-lg-9">
        <div class="widget search_blog d-block d-sm-block d-md-block d-lg-none">
            <div class="form-group">
                <input type="text" name="search" id="search" class="form-control" placeholder="Search..">
                <button type="submit"><i class="ti-search"></i><span class="sr-only">Search</span></button>
            </div>
        </div>
        <!-- /widget -->
        <div class="row">

            {% for post in posts %}

            <div class="col-md-6">
                <article class="blog">
                    <figure>
                        <a href="{% url 'blog:blog' pk=post.pk %}"><img src="{{ post.main_image.url }}" alt="">
                            <div class="preview"><span>Read more</span></div>
                        </a>
                    </figure>
                    <div class="post_info">
                        <small>{{ post.category }} - {{ post.created_at }}7</small>
                        <h2><a href="{% url 'blog:blog' pk=post.pk %}">{{ post.title|safe }}</a></h2>
                        <p>{{ post.text|intro|safe }}</p>
                        <ul>
                            <li>
                                <div class="thumb"><img src="{% static 'img/avatar.jpg' %}" alt=""></div>
                                {{ post.user }}
                            </li>
                            <li><i class="ti-comment"></i>{{ post|comments_count }}</li>
                        </ul>
                    </div>
                </article>
                <!-- /article -->
            </div>
            <!-- /col -->

            {% endfor %}

        </div>
        <!-- /row -->

        <!--
        <div class="pagination__wrapper no_border add_bottom_30">
            <ul class="pagination">
                <li><a href="#0" class="prev" title="previous page">&#10094;</a></li>
                <li>
                    <a href="#0" class="active">1</a>
                </li>
                <li>
                    <a href="#0">2</a>
                </li>
                <li>
                    <a href="#0">3</a>
                </li>
                <li>
                    <a href="#0">4</a>
                </li>
                <li><a href="#0" class="next" title="next page">&#10095;</a></li>
            </ul>
        </div>
        -->
        <!-- /pagination -->

    </div>
{% endblock %}
