{% extends 'blog/base.html' %}
{% load static %}
{% load blog_extras %}

{% block title %} Blog | {{ post.title }} {% endblock %}

{% block container %}
    <div class="col-lg-9">
        <div class="singlepost">
            <figure><img alt="" class="img-fluid" src="{{ post.main_image.url }}"></figure> {# {% static 'img/blog-single.jpg' %} #}
            <h1>{{ post.title }}</h1>
            <div class="postmeta">
                <ul>
                    <li><a href="{% url 'blog:category' slug=post.category.slug %}"><i class="ti-folder"></i> {{ post.category }}</a></li>
                    <li><i class="ti-calendar"></i> {{ post.created_at }}</li>
                    <li><a href="#"><i class="ti-user"></i> {{ post.user }}</a></li>
                    <li><a href="#comments"><i class="ti-comment"></i> ({{ post|comments_count }}) Comments</a></li>
                </ul>
            </div>
            <!-- /post meta -->
            <div class="post-content">
                <div class="dropcaps">
                    {{ post.text|slice_paragraphs:"first"|safe }}
                </div>

                {{ post.text|slice_paragraphs:"other"|safe }}
            </div>
            <!-- /post -->
        </div>
        <!-- /single-post -->

        {% if comments %}

            <div id="comments">
                <h5>Comments</h5>
                <ul>

                    {% for comment in comments %}

                        <li>
                            <div class="avatar">
                                <a href="#"><img src="{% static 'img/avatar3.jpg' %}" alt="">
                                </a>
                            </div>

                            <div class="comment_right clearfix">
                                <div class="comment_info">
                                    By <a href="#">{{ comment.user }}</a><span>|</span>{{ comment.created_at }}<span>|</span><a href="#"><i class="icon-reply"></i></a>
                                </div>
                                <p>
                                    {{ comment.text|safe }}
                                </p>
                            </div>
                        </li>

                    {% endfor  %}

                </ul>
            </div>

        {% endif %}

        <hr>

        {% if user.is_authenticated %}
            <h5>Leave a comment</h5>
            <form action="{% url 'blog:comment' pk=post.pk %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="text" id="comments2" rows="6" placeholder="Comment"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" id="submit2" class="btn_1 add_bottom_15">Submit</button>
                </div>
            </form>
        {% else %}
            <a href="{% url 'account:login_register' %}"><h5>Login to leave a comment</h5></a>
        {% endif %}

    </div>
{% endblock %}
