{% extends 'blog/base.html' %}
{% load static %}
{% load blog_extras %}

{% block title %} {{ title|safe }} {% endblock %}

{% block container %}
    <div class="col-lg-9">
        <div class="widget search_blog d-block d-sm-block d-md-block d-lg-none">
            <div class="form-group">
                <input type="text" name="search" id="search" class="form-control" placeholder="Search..">
                <button type="submit"><i class="ti-search"></i><span class="sr-only">Search</span></button>
            </div>
        </div>
        <!-- /widget -->
        <div class="row">

            {% for post in posts %}

            <div class="col-md-6">
                <article class="blog">
                    <figure>
                        <a href="{% url 'blog:blog' pk=post.pk %}"><img src="{{ post.main_image.url }}" alt="">
                            <div class="preview"><span>Read more</span></div>
                        </a>
                    </figure>
                    <div class="post_info">
                        <small>{{ post.category }} - {{ post.created_at }}7</small>
                        <h2><a href="{% url 'blog:blog' pk=post.pk %}">{{ post.title|safe }}</a></h2>
                        <p>{{ post.text|intro|safe }}</p>
                        <ul>
                            <li>
                                <div class="thumb"><img src="{% static 'img/avatar.jpg' %}" alt=""></div>
                                {{ post.user }}
                            </li>
                            <li><i class="ti-comment"></i>{{ post|comments_count }}</li>
                        </ul>
                    </div>
                </article>
                <!-- /article -->
            </div>
            <!-- /col -->

            {% endfor %}

        </div>
        <!-- /row -->

        <div class="pagination__wrapper no_border add_bottom_30">
            {% if pages_count != 1 %}
                <ul class="pagination">
                    {% if current_page != 0 %}
                        <li><a href="{% url 'blog:category' slug=category_slug %}?page={{ current_page|add:-1 }}" class="prev" title="previous page">&#10094;</a></li>
                    {% endif %}

                    {% for page in pages_count|range_ %}

                        <li>
                            {% if page == current_page %}
                                <a href="{% url 'blog:category' slug=category_slug %}?page={{ page }}" class="active">{{ page|add:1 }}</a>
                            {% else %}
                                <a href="{% url 'blog:category' slug=category_slug %}?page={{ page }}" class="">{{ page|add:1 }}</a>
                            {% endif %}
                        </li>

                    {% endfor %}

                    {% if current_page != pages_count|add:-1 %}
                        <li><a href="{% url 'blog:category' slug=category_slug %}?page={{ current_page|add:1 }}" class="next" title="next page">&#10095;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <!-- /pagination -->


    </div>
{% endblock %}
